  <div class="contents row" >
    <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
    <% end %>
     <br><div class="#ffffff white" <%= paginate(@tweets) %> >
     </div>
  </div>
